/* Place CSS styles here */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Karla', sans-serif;
    color: purple;
}

h1,
h2,
h3{
    font-family: 'Inconsolata', monospace;
    color: blue;
}